<div class="login-form-container">

    <form [formGroup]="loginForm" class="login-form" (ngSubmit)="onSubmit()">
        <mat-form-field appearance="outline" class="form-field">
            <mat-label>Email</mat-label>
            <input matInput formControlName="email" name="email" type="email">
            <mat-error *ngIf="loginForm.get('email')?.invalid && loginForm.get('email')?.touched">Invalid
                Email</mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="form-field">
            <mat-label>Password</mat-label>
            <input matInput formControlName="password" name="password" type="password">
            <mat-error *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched">Password must be
                a
                combination of lower-case, upper-case, numbers, and at least 9 characters long</mat-error>
        </mat-form-field>

        <button mat-raised-button color="primary" type="submit" [disabled]="loginForm.invalid">Login</button>
    </form>
</div>